node_modules# Node
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js
.next
out

# Build / dist
dist
build

# Logs
logs
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/migrations/.DS_Store

# Typescript
*.tsbuildinfo

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
*.swp
